.sign-in-message{
    color: rgba(235, 102, 26, 0.863);
    text-align: center;
}

.sign-in{
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.sign-in-form{
    text-align: center;
    margin-top: 15px;
}