.custom-button{
    margin: 30px auto;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    width: 70%;
    display: inline-block;
    background-color: rgb(62, 62, 172);
    
    &:hover{
        border: 1px solid black;
    }
}